* h1 {
  /* background-color: #a2c3a3; */
  font-family: 'Montserrat', sans-serif;
}
* p {
  font-family: 'Mukta', sans-serif;
  color: #222;
  font-size: large;
}
.App {
  text-align: center;
  padding: 10px;
}

.cardContainer {
  padding: 2em;
  border-radius: 10px;
  background: linear-gradient(145deg, #adafd1, #9294b0);
  box-shadow: 7px 7px 14px #606173,
    -7px -7px 14px #e4e7ff;
  margin-left: 1em;
  margin-top: 1em;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

/* cardContainer hover */
.cardContainer:hover {
  border-radius: 10px;
  background: #a2c3a3;
  box-shadow: inset 7px 7px 14px #607360,
    inset -7px -7px 14px #e4ffe6;
}

.headerTitle {
  /* font-size: 2.5em; */
  font-weight: bold;
  color: #7b947c;
  margin-bottom: 20px;
  padding: 20px;
  /* alogn left  */
  text-align: left;
}


.cardTop {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-bottom: 20px;
  /* width: max-content; */
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10em;
  /* width: 23%; */
}