.App {
  text-align: center;
  padding: 10px;
  background-color: #a2c3a3;
}

.cardContainer {
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(145deg, #adafd1, #9294b0);
  box-shadow: 7px 7px 14px #606173,
    -7px -7px 14px #e4e7ff;
    margin-left: 15px;
    margin-top: 20px;
    width: max-content;
    display: flex;
    justify-content: space-evenly;
}

/* cardContainer hover */
.cardContainer:hover {
  border-radius: 10px;
  background: #a2c3a3;
  box-shadow: inset 7px 7px 14px #607360,
    inset -7px -7px 14px #e4ffe6;
}

.headerTitle {
  font-size: 2.5em;
  font-weight: bold;
  color: #7b947c;
  margin-bottom: 20px;
  padding: 20px;
  /* alogn left  */
  text-align: left;
}


.cardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* width: max-content; */
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10em;
  /* width: 23%; */
}