.App {
  text-align: center;
  padding: 10px;
}

.cardContainer {

  width: 25em;
  /* height: 10em; */
  padding: 30px;

  border-radius: 4px;
  background: linear-gradient(145deg, #92b093, #add1ae);
  box-shadow: 5px 5px 11px #607360,
    -5px -5px 11px #e4ffe6;

}

/* cardContainer hover */
.cardContainer:hover {
  border-radius: 4px;
  background: linear-gradient(145deg, #add1ae, #92b093);
  box-shadow: 5px 5px 11px #607360,
    -5px -5px 11px #e4ffe6;
}

.headerTitle {
  font-size: 2.5em;
  font-weight: bold;
  color: #7b947c;
  margin-bottom: 20px;
  padding: 20px;
  /* alogn left  */
  text-align: left;
}


.cardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: max-content;
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10em;
  width: 23%;
}